<div id="menu"><br>
    <div align="center">
        <div align="left" >
        <span style=" padding-left: 50px; color:DarkBlue;font-size:XX-Large;">James Boyd</span><br />
    </div>
        <img alt="" src="assets/Images/blu.gif" width="100%" height="10" /><br />
        <div align="right">
            <table border="0" width="35%" cellpadding="7" cellspacing="7">
                <tr>
                <td>
                        <a class="h_indianred" [routerLink]="['']">
                            HOME
                        </a>
                    </td>
                    <td>
                        <a  class="h_indianred" [routerLink]="['/core/services']">
                            SERVICES
                        </a>
                    </td>
                    <td>
                        <a  class="h_indianred" [routerLink]="['/core/about']" href="#">
                            ABOUT
                        </a>
                    </td>
                    <td>
                        <a class="h_indianred" href="../assets/JimBoydResume.pdf" target="_blank">
                            RESUME
                        </a>
                    </td>
 
                </tr>
            </table>
        </div>
        <span style="color:DarkBlue;font-size:X-Large;">Senior Software Engineer</span><br />
        <span  style="color:Black;font-size:medium;"><i>Analyze, Design and Develop</i></span>
    
        <h6>Independent Consultant / Contractor</h6>
    
        <div style="color:DarkBlue;font-size:Large;">.NET Developer</div>
        <img alt="" src="assets/Images/blu.gif" width="100%" height="10" />
        <div align="center">
            <div> <I>"I have a roll your sleeve up work ethic and I have a high degree of enthusiasm for application development. 
                My experience, devotion and education have earned a solid return of investment on my endeavors."</I></div><br />
        </div>
    </div>
  <br>
    </div>

