<app-header-menu></app-header-menu>
    <table border="0" cellpadding="1" cellspacing="1" width="100%" align="center">
        <tr>
            <td width="5%"></td>
            <td width="15%" valign="top">
    
                <div class="side_menu_text">
                    <br /><br />
                    <b>24/7 support on all work.</b><br /><br />
                    <div>Detailed hourly reports on all work. </div><br />
                    I adapt to your style and your development philosophy.<br /><br />
    
    
                    I taught undergraduate classes in Information Technology at the University of Phoenix. <br /><br />
    
    
                    I have a wealth of experience on “other” development philosophies.<br /><br />
                                   
                    Trained in<br /> <b>Advanced Mathematics</b>
                    <br />
                    (former math teacher)<br><br>
                  
                    <b>Ask about our Java and Angular development at a reduced cost!</b>
                </div>
                <br />
    
            </td>
            <td valign="top">
               
                <table border="0" cellpadding="3" cellspacing="3" width="100%">
                    <tr>
                        <td colspan="5" align="center">
                            <h4><div class="h_indianred">26 Years of IT and Software Development Experience </div></h4>
                           <br>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%" valign="top">   &nbsp;</td>
                        <td valign="top">
                            <ul type="square">
                                <li>System Design and Development</li>
                                <li>Web, Windows and Device Applications</li>
                                <li>Object Modeling (UML) and Design Patterns</li>
                                <li>Database Design and Development</li>
                                <li>Agile, Iterative and other Methodologies </li>
                                <li>Daily reports</li>
                                <li> <a [routerLink]="['/core/services']">
                                    See more ...
                                </a> </li>
                            </ul>
                        </td>
                        <td>   &nbsp;</td>
                        <td valign="top">
                            <ul type="square">
                                <li>.NET Core</li>
                                <li>ASP.NET (MVC, Web API, Web Forms, Razor)</li>
                                <li>Entity Framework, LINQ, ADO </li>
                                <li>SQL Server, T-SQL, Stored Procedures</li>
                                <li>Angular 2, JQuery </li>
                                <li> VB6, ActiveX </li>
                                <li> <a [routerLink]="['/core/services']">
                                    See more ...
                                </a></li>
                            </ul>
                
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                
                            <div class="h_indianred">Have a new project? Need a hand with an existing or failing project?</div>
                            <img src="Images/blu.gif" width="100%" height="10" />
                
                        </td>
                
                    </tr>
                
                </table>
                            
                <table border="0" cellpadding="3" cellspacing="3" width="100%">
                    <tr>
                        <td width="10%">&nbsp;</td>
                        
                        <td valign="top">
                            <div><h3>Employment History</h3></div><br />
                            
                            RSI / SPARQ <font [size]="1">(3 years)</font>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Senior Consultant</div><br>
                       JB System Consulting <font [size]="1">(11 years)</font>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Senior Software Engineer</div>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Independent Consultant</div>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Contractor</div><br>
                              <div style="vertical-align:top;" >
                            <img src="assets/Images/UOP-Logo.jpg" height="50px" width="140px" /> 
                          <font [size]="1">(1.5 years)</font><br />
                            </div>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Faculty<br />&nbsp;&nbsp;&nbsp;&nbsp;Information Technology Instructor</div><br>
                            ASRT <font [size]="1">(5.5 years)</font>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Software Engineer</div>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Senior Software Engineer</div><br>
                            U.S. Cotton <font [size]="1">(1 year)</font>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Systems Programmer</div><br>
                            United States Postal Service <font [size]="1">(1.5 years)</font>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Web Developer</div><br>
                            Phdx <font [size]="1">(1 year)</font>
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Programmer</div><br>
                            RHI
                            <div class="text_torq">&nbsp;&nbsp;&nbsp;&nbsp;Various Development Projects</div>
                            <br /><br />
                        </td>
                
                        <td valign="top">
                            <div><h3>Education</h3></div><br />
                
                            <span id="Label6" style="color:blue;font-size:Large;"> &#9830;</span> Bachelor of Science in Physics<br /> <br />
                            <span id="Label7" style="color: blue;font-size:Large;"> &#9830;</span> Master of Science in Information Technology<Br />
                            <div class="text_torq">Specialization in System Design and Development<br />(MSIT)</div><br />
                            <span id="Label8" style="color:blue;font-size:Large;"> &#9830;</span> Post-Master’s Certificate in College Teaching<br /><br />
                            <span id="Label9" style="color:blue;font-size:Large;"> &#9830;</span> Graduate work in Mathematics and PhD work in<br> Information Technology<br /><br />
                
                        </td>
                    </tr>
                </table>
            </td>
            <td width="15%" valign="top"><br><br><Br>
                <div align="left">
                    <table border="4" class="h_indianred" >
                        <tr>
                            <td>
                                <img alt="Jim.Boyd" width="300px" src="assets/Images/MeB.jpg" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    James Boyd&nbsp;&nbsp;&nbsp;MSIT<br />
                    <font style="color:DarkBlue;">Senior Software Engineer</font><br />
                    <br>
                    San Antonio TX<br>Austin TX<br>Albuquerque NM<br>Santa Fe NM<br>Waco TX<Br>Dallas-FT Worth TX<Br>
                    <br />
    
                    <a href="mailto:website@jamesellisBoyd.com">Send me an email</a><br />
    
                </div>
                </td>
                <td width="5%"></td>
        </tr>
    </table>
    
    