<app-header-menu></app-header-menu>

<table border="0" cellpadding="2" cellspacing="2" width="90%" align="center">
<tr>
    <td width="33%" style="vertical-align:top">
    <div >
        <h3>Analyze, Design and Develop</h3><br />
        SDLC (System Development Life Cycle)<br /><br />
        <img src="assets/Images/SDLC.png" align="left" /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <ul>
            <li>Requirement Gathering and Documentation</li>
            <li> System Design and Development</li>
            <li>Web, Windows and Device Applications</li>
            <li> Microsoft Web and Communication Services</li>
            <li> Database Design and Development</li>

            <li>Object Modeling, UML and Design Patterns</li>
            <li> Waterfall, Agile and Iterative Development Methodologies</li>
            <li>Frequent Updates and/or Scrum Meetings</li>
            <li>Unit, Integration, Functional and System Testing</li>
            <li>Implementation</li>
            <li>Project Documentation</li>
            <li>Application Training</li>

            <li> <b>24/7 support on all work!</b></li>
        </ul>
        <i> I can adapt to your development philosophy!</i>
        <br /><br /><br />

    </div>

</td>
<td width="33%" style="vertical-align:top">
 
        <h3>Technologies</h3><br />
                             <div class="skill_list">
                                 Visual Studio (all versions) and VS Code
                                 <br />.NET  (VB, C#, C++) (Framework & Core)
                                 <br />ASP.NET
                                 <br />(MVC, Web API, Core, Web Forms, Razor)
                                 <br />Entity Framework, LINQ
                                 <br />Angular 2
                                 <br />Javascript, AJAX, JQuery, Bootstrap
                                 <br />SQL Server (all versions)
                                 <br />T-SQL, Stored Procedures
                                 <br />HTML, HTML 5
                                 <br />Payment Gateways
                                 <br />(Authorize.net, Chargify, PaySimple, etc)
                                 <br />UML, Object Modeling
                                 <br />GOF Design Patterns
                                 <br />Jira, Slack
                                 <br />TFS, Git, SVN, Tortoise
                                 <br />DevOps, AWS, Rackspace
                                 <br />Visual Basic 6, ActiveX
                               </div>

        <br />

        <h3>Rates</h3><br />
        
        &nbsp;&NonBreakingSpace;<b>My rates are between $65/hr and $85/hr.</b> <br />
       
        <table align="center" width="80%">
            <tr>
                <td>
        
                    <h3>Payment Options</h3><br />
                    <b>PayPal </b>(preferred) Send payment through PayPal to jim.boyd@jbsystemconsulting.com
                    <br />
                    <b>Zelle</b> (<a href="https://www.zellepay.com/" target="_blank">How to send money with Zelle</a>)
                    <br />
                    <b>Direct Deposit </b>Wells Fargo bank information will be provided (account and routing number)
                    <br />
                    <b>Mail Check </b>Sorry, unable to accept checks delivered by the United States Postal Service. <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; &nbsp;Checks are accepted when front and back images are sent via email or text. <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; &nbsp;Checks can be sent via Fedex with tracking number.
                    <br />
                    <b>Credit Card </b>Sorry, unable to accept credit cards at this time. There has not been enough demand for credit card processing.
                    <br />
                    <br />
                    <img alt="" src="assets/Images/blu.gif" width="100%" height="10" />
                    <br />

                     <br />
                    <i>Payment for services are due at Invoicing.</i>
        <br>
                    <br /><font [size]="1">  All work stops at 7 days past due. Work stops at 30 days past due under a particular corp condition related to bill cycle.
                                        <br />
                    In some cases, pre-paid hours (retainer) or deposit may be required.     </font>     <br />
        
                    <br />
        
                    <br /><br />
                </td>
            </tr>
        </table>

    
</td>
<td width="33%" style="vertical-align:top">
    
      
        <h3>Hourly Reports</h3><br />
        <div class="blue_tag">Have the whole development process documented!</div><br />
        Each hour or so a moment is taken to document exactly what is being done in that hour. The log entry usually consists of two to five sentences per hour. This Activity Log accompanies each invoice for the time span that is being billed. A summary Log also accompanies each invoice. The logs can be reproduced for clients for any date-time range for any project/task in a matter of minutes.<br /><br />
        <img src="assets/Images/LogFile.png" style="height:350px;width:300px;" />
        <br />
        <br />
        <br />

       </td>
    </tr>
</table>


