<h2>Coming soon!!!!</h2>
<p>
    <B>Marketer's Email Addresses</B> v 1.0<br><br>
    Send an unlimited amount of marketing emails to an unlimited amount of <b><i>verified</i></b> email addresses in a 
    matter of minutes.<br><br>
    Add keywords to narrow or target your search.<br><br> Enter keywords to find particular text in the Username part of the email addresses or 
    a seed value to be used.<br>
    For example; if the keyword is "Joe", it could return Joe34566@yahoo.com, joe.smith98gb@gmail.com or RunJoe45K@SomeDomain.edu.<br>
    <br>
    Another example would be "support" which would return email addesses with "support" somewhere in the Username part of 
    the address. 
    <br><br>
    Keywords:<br>
    <input type='text' name='namepart' placeholder="Username"  class="form-control"/>&nbsp;@&nbsp;
    <input type='text' name='domainpart' placeholder="Domain here (e.g. gmail)"  class="form-control"/>&nbsp;&nbsp;
    <b>.</b>&nbsp;&nbsp;<select class="form-select" name="seldomain" id="seldomain">
        <option value="">All</option>
        <option  value="com">.com</option>
        <option  value="org">.org</option>
        <option  value="edu">.edu</option>
        <option  value="gov">.gov</option>
        <option  value="biz">.biz</option>
        <option  value="net">.net</option>
    </select>
    <br><br>
    <input type="submit">
    <br><br>
    <b>
    Paid version will have export/import functions, automatic and scheduled sendings, email editor and much much more!</b><br><br>
    <a href='MailTo:Website@jamesellisboyd.com'>Contact Me</a>
    <br><br><br>
    [[ Results listed here]]
</p>
