<app-header-menu></app-header-menu>
<div align="center">
    <div align="left">
             <div class="aboutformatstyle">
            I am a Senior Software Engineer, an Independent Contractor, and I have worked in the
            software development industry since the late 90's. I provide software
            development services for companies across the country. 
       
            Whether you have a new software
            project or need assistance with an existing project, I provide a service that is hard to
            match. I have also taught undergraduate Information Technology classes including software
            development courses in a traditional classroom at the University of Phoenix.
            <br><Br>
                I studied and earned my bachelor’s degree in Physics at the University of Texas at Dallas. I
                then taught high school mathematics as a career and engaged in computer programming as a
                hobby. In 1998, I switched careers and started working in the IT industry and developing
                software for a living. In 2008 I earned a Master’s of Science Degree in Information
                Technology with a Specialization in System Design and Development. The following year I
                earned a Post Master’s Certification in College Teaching. I started my PhD in Information
                Technology. I am two years and a dissertation away from finishing. I also have graduate work
                in Mathematics.

                    <br /><br>
                   
                            I am from Dallas TX, and due to my current situation, I reside in multiple locations. I am having to care for elderly parents (one in New Mexico and one in Texas) so I bounce back and forth between the two states. 
                            My house is in Albuquerque, NM and is currently being rebuilt from a fire. My temporary residence is in San Antonio, TX.
                             
                        <br><br>
                        In my free time, I read history books and historical biographies. I have an interest in American History and Texas History.
                         I have published a book and plan to publish three more in the next three years. Until recently, 
                         I was an avid hiker, and hiked many of the mountain trails in Central/Northern New Mexico.
                        <Br><br>
                            I am a father of two grown boys, my oldest holds a degree in Architecture from UNM. 
                            He is about to complete his Java training and will be soon in the market looking for Java work. 
                            My other son is 18 and is currently working towards being a code ninja.
    
                    <br />
                                <br><br>
                    
                          Feel free to <a href="mailto:website@Jamesellisboyd.com" >contact me</a> at any time.
 
                        <br /><br />

                        <table border="4">
                            <tr>
                                <td>

                                    <img src="../../assets/Images/MeA.jpg" width="200" />
                                </td>
                            </tr>
                        </table>
                        <br /><br />
                    </div>
                </div>
          </div>


    
